<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Katalog restoran" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
  </head>
  <body>
    <!-- menuju ke konten -->
    <a href="#content" tabindex="0" class="skip-link">Skip To Content ?</a>

    <header class="header">
      <!-- Navigation Seluler  -->
      <button id="menu" class="header__menu">☰</button>

      <!-- menampilkan nama aplikasi -->
      <h1 class="header__title">MadangDay</h1>

      <!-- Navigation Menu  -->
      <nav>
        <ul class="nav__list">
          <li class="nav__item"><a href="index.html">Home</a></li>
          <li class="nav__item"><a href="#">Favorite</a></li>
          <li class="nav__item"><a href="https://github.com/feriirawan0">About Us</a></li>
        </ul>
      </nav>
    </header>

    <!-- Hero Element -->
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Madang Day</h1>
        <p class="hero__tagline">Nikmatnya Santapan, Sejuta Kesan</p>
      </div>
    </div>

    <!-- konten daftar restoran  -->
    <main id="content">
      <section class="container">
        <h1 class="label__content">Explore Restaurant</h1>
        <div class="content" id="tes"></div>
      </section>
    </main>

    <!-- footer  -->
    <footer class="copyright">
      <p>Copyright &copy; 2020 - Madang Day</p>
    </footer>
  </body>
</html>
